Repository Beneteli/devops-aula07, pull requests merged in 2018-10, with the labels that each got.

#15 Rename requisitos.md to requisitos_v1.1.md
  docs/requisitos_v1.1.md
Labels: análise

#16 #12
  docs/v1.1_arquitetura.md
Labels: arquitetura

#17 #13
  src/v1.1_jogovelha.py
Labels: programação

#18 #14
  src/v1.1_testes_jogar.py
Labels: testes
